body, html {
    height: 100%;
    background-color: #000; 
}

.sidenav {    
    background-color: #f58220; /* Naranja característico */
    overflow-x: hidden;
    padding-top: 20px;
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff; 
}



.btn-dark {
    background-color: #000; 
    color: #fff; 
}

.btn-secondary {
    background-color: #f58220; 
    color: #fff; 
}

/* Fondo ligeramente más claro que el negro para los inputs */
.form-control {
    background-color: #333; 
    color: #fff; 
    border-color: #f58220;
}

.form-group label {
    color: #fff; /* Texto blanco */
}